@charset "UTF-8";
body{
   background-image: linear-gradient(90deg, rgb(117, 152, 226),rgb(19, 36, 82));
}
.login{
    font-family: 'Arimo', sans-serif;
   background-color: rgba(136, 133, 133, 0.384);
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 30px;
   border-radius: 50px;
   color: white;
}
h1{
    display: flex;
    justify-content: center;

}
input{
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 50px;
}
button{
    background-image: linear-gradient(to right, rgb(175, 5, 175), rgba(19, 3, 165, 0.76));
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    border: none;

}
button:hover{
    background-color: rgb(23, 4, 59);
    cursor: pointer;
}
